{block title}Fotogalerie 2013 - {include #parent}{/block}
{block description}Jediná česká konference pro všechny příznivce zařízení a softwarových řešení společnosti Apple{/block}
{block body_id}fotogalerie_2013{/block}


{block header}
<h1 id="page_title"><a title="Přejít na úvodní stranu" n:href="Homepage:default"><img src="{$basePath}/assets/images/logo.png" data-src2x="{$basePath}/assets/images/logo@2x.png" alt="iCON"></a> Fotografie z iCON 2013</h1>
{/block}


{block content}

<a rel="gallery" title="Zobrazit" href="{$basePath}/assets/images/photogallery/2013/lrg/dobrovolnici.jpg"><img src="{$basePath}/assets/images/photogallery/2013/tn/tn_dobrovolnici.jpg" alt="Dobrovolníci" width="238" height="160"></a>
<a rel="gallery" title="Zobrazit" href="{$basePath}/assets/images/photogallery/2013/lrg/dobrovolnici2.jpg"><img src="{$basePath}/assets/images/photogallery/2013/tn/tn_dobrovolnici2.jpg" alt="Dobrovolníci" width="262" height="160"></a>
<a rel="gallery" title="Zobrazit" href="{$basePath}/assets/images/photogallery/2013/lrg/prednasejte2.jpg"><img src="{$basePath}/assets/images/photogallery/2013/tn/tn_prednasejte2.jpg" alt="Přednášející" width="224" height="160"></a>
<a rel="gallery" title="Zobrazit" href="{$basePath}/assets/images/photogallery/2013/lrg/prednasejte1.jpg"><img src="/img/photogallery/2013/tn/tn_prednasejte1.jpg" alt="Přednášející" width="245" height="160"></a>
<a rel="gallery" title="Zobrazit" href="{$basePath}/assets/images/photogallery/2013/lrg/partneri3.jpg"><img src="{$basePath}/assets/images/photogallery/2013/tn/tn_partneri3.jpg" alt="Partneři" width="107" height="160"></a>
<a rel="gallery" title="Zobrazit" href="{$basePath}/assets/images/photogallery/2013/lrg/partneri2.jpg"><img src="{$basePath}/assets/images/photogallery/2013/tn/tn_partneri2.jpg" alt="Partneři" width="240" height="160"></a>
<a rel="gallery" title="Zobrazit" href="{$basePath}/assets/images/photogallery/2013/lrg/partneri1.jpg"><img src="{$basePath}/assets/images/photogallery/2013/tn/tn_partneri1.jpg" alt="Partneři" width="246" height="160"></a>
<a rel="gallery" title="Zobrazit" href="{$basePath}/assets/images/photogallery/2013/lrg/konference2.jpg"><img src="{$basePath}/assets/images/photogallery/2013/tn/tn_konference2.jpg" alt="Konference" width="240" height="160"></a>
<a rel="gallery" title="Zobrazit" href="{$basePath}/assets/images/photogallery/2013/lrg/konference1.jpg"><img src="{$basePath}/assets/images/photogallery/2013/tn/tn_konference1.jpg" alt="Konference" width="240" height="160"></a>
<a rel="gallery" title="Zobrazit" href="{$basePath}/assets/images/photogallery/2013/lrg/iconmanie3.jpg"><img src="{$basePath}/assets/images/photogallery/2013/tn/tn_iconmanie3.jpg" alt="iCONmánie" width="240" height="160"></a>
<a rel="gallery" title="Zobrazit" href="{$basePath}/assets/images/photogallery/2013/lrg/iconmanie2.jpg"><img src="{$basePath}/assets/images/photogallery/2013/tn/tn_iconmanie2.jpg" alt="iCONmánie" width="240" height="160"></a>
<a rel="gallery" title="Zobrazit" href="{$basePath}/assets/images/photogallery/2013/lrg/iconmanie1.jpg"><img src="{$basePath}/assets/images/photogallery/2013/tn/tn_iconmanie1.jpg" alt="iCONmánie" width="263" height="160"></a>
<a rel="gallery" title="Zobrazit" href="{$basePath}/assets/images/photogallery/2013/lrg/expo3.jpg"><img src="{$basePath}/assets/images/photogallery/2013/tn/tn_expo3.jpg" alt="Expo" width="240" height="160"></a>
<a rel="gallery" title="Zobrazit" href="{$basePath}/assets/images/photogallery/2013/lrg/expo2.jpg"><img src="{$basePath}/assets/images/photogallery/2013/tn/tn_expo2.jpg" alt="Expo" width="107" height="160"></a>
<a rel="gallery" title="Zobrazit" href="{$basePath}/assets/images/photogallery/2013/lrg/expo.jpg"><img src="{$basePath}/assets/images/photogallery/2013/tn/tn_expo.jpg" alt="Expo" width="226" height="160"></a>




<a rel="gallery" title="Zobrazit" href="{$basePath}/assets/images/photogallery/2013/lrg/expo4.jpg"><img src="{$basePath}/assets/images/photogallery/2013/tn/tn_expo4.jpg" alt="Expo" width="240" height="160"></a>
<a rel="gallery" title="Zobrazit" href="{$basePath}/assets/images/photogallery/2013/lrg/expo5.jpg"><img src="{$basePath}/assets/images/photogallery/2013/tn/tn_expo5.jpg" alt="Expo" width="107" height="160"></a>
<a rel="gallery" title="Zobrazit" href="{$basePath}/assets/images/photogallery/2013/lrg/expo6.jpg"><img src="{$basePath}/assets/images/photogallery/2013/tn/tn_expo6.jpg" alt="Expo" width="240" height="160"></a>
<a rel="gallery" title="Zobrazit" href="{$basePath}/assets/images/photogallery/2013/lrg/expo7.jpg"><img src="{$basePath}/assets/images/photogallery/2013/tn/tn_expo7.jpg" alt="Expo" width="240" height="160"></a>

<a rel="gallery" title="Zobrazit" href="{$basePath}/assets/images/photogallery/2013/lrg/konference3.jpg"><img src="{$basePath}/assets/images/photogallery/2013/tn/tn_konference3.jpg" alt="Konference" width="242" height="160"></a>


<div class="clear-both"></div>
{/block}

{block footer_partners}{/block}
{block footer_2013}{/block}