<!DOCTYPE html>
<html lang="cs">
	<head>

		<!-- ========== Meta ========== -->
		<meta charset="utf-8">
		<meta name="robots" content="noindex,nofollow">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>{block title}Administrace - iCON Prague 2015{/block}</title>

		<!-- ========== Ico ========== -->
		<link rel="shortcut icon" href="{$basePath}/favicon.ico">


		<!-- ========== CSS ========== -->
		<link rel="stylesheet" href="{$basePath}/assets/css/style-admin.min.css?997f7a49" type="text/css" media="screen,projection">


		<!-- ========== JS ========== -->
		<!--[if lt IE 9]><script type="text/javascript" src="{$basePath}/assets/js/html5shiv.js"></script><![endif]-->
		<script type="text/javascript" src="/assets/standalone-components/tinymce/tinymce.min.js"></script>


		<!-- ========== GA ========== -->
		<script n:syntax="off">
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-46257481-3', 'auto');
			ga('send', 'pageview');
		</script>

	</head>


	<body class="{block bodyClass}{/block}">





		<!-- ========== Mobile nav ========== -->
		<nav class="nav-mobile" role="navigation">
			<ul>
				{block #nav}
				<li{if $presenter->isLinkCurrent("TalkType:*")} class="active"{/if}>
					<a n:href="TalkType:default">Úvodní stránka</a>
				</li>
				{*<li{if $presenter->isLinkCurrent("Text:*")} class="active"{/if}>*}
					{*<a n:href="Text:default">Texty webu</a>*}
				{*</li>*}
				<li{if $presenter->isLinkCurrent("Headline:*")} class="active"{/if}>
					<a n:href="Headline:default">Předprogram</a>
				</li>
				<li{if $presenter->isLinkCurrent("Talk:*")} class="active"{/if}><a title="Program" n:href="Talk:default">Program</a>
					<ul>
						<li><a n:href="Talk:default">Správa programu</a></li>
						<li><a n:href="Talk:description">Popis iCON bloků</a></li>
						<li><a href="">Vlastní program - analýza</a></li>
					</ul>
				</li>
				<li{if $presenter->isLinkCurrent("Speaker:*")} class="active"{/if}>
					<a n:href="Speaker:default">Řečníci</a>
				</li>
				<li{if $presenter->isLinkCurrent("Blog:*")} class="active"{/if}><a title="iCONčlánky (festival)" n:href="Blog:default">iCONčlánky (festival)</a>
					<ul>
						<li><a n:href="Blog:default">Správa článků</a></li>
						<li><a n:href="Blog:images">Správa obrázků</a></li>
					</ul>
				</li>
				<li{if $presenter->isLinkCurrent("Feed:*")} class="active"{/if}>
					<a n:href="Feed:default" target="_blank">Generování iOS app feed</a>
				</li>
				{/block}
			</ul>
		</nav> <!-- .nav-mobile -->





		<!-- ========== Main nav ========== -->
		<div class="container">
			<div class="row">
				<div class="col-12">
					
					<nav class="nav" role="navigation">


						<span class="nav-mobile-toggle"><i class="fa fa-bars"></i></span>
					

						{* <ul class="nav-home" role="navigation">
							<li>
								<span class="lt"></span>
								<span class="rt"></span>
								<span class="lb"></span>
								<span class="rb"></span>
								<a title="Přejít na úvodní stranu" n:href="Homepage:default"><i class="fa fa-fw fa-home"></i></i></a>
							</li>
						</ul> <!-- .nav-home --> *}

					
						<nav class="nav-main" role="navigation">
							<ul>
								{include #nav}
							</ul>
							
							<div class="clear-both"></div>
						</nav> <!-- .nav-main -->	
						
						
						{* <ul class="nav-social" role="navigation">
							<li><a title="iCON na Facebooku" target="_blank" href="http://www.facebook.com/iCONPraha"><i class="fa fa-fw fa-facebook"></i></a></li>
							<li><a title="iCON na Twitteru" target="_blank" href="http://twitter.com/iconprague"><i class="fa fa-fw fa-twitter"></i></a></li>
							<li><a title="iCON na Tumblru" target="_blank" href="http://blog.iconprague.com/"><i class="fa fa-fw fa-tumblr"></i></a></li>
							<li><a title="iCON na Instagramu" target="_blank" href="http://instagram.com/iconprague"><i class="fa fa-fw fa-instagram"></i></a></li>
						</ul> <!-- .nav-social --> *}
						
						
						<div class="clear-both"></div>
					</nav> <!-- .nav -->

				</div> <!-- .col-12 -->
			</div> <!-- .row -->
		</div> <!-- .container -->





		<!-- ========== Header ========== -->
		<div class="container">
			<div class="row">
				<div class="col-12">
				
					<header class="header" role="banner">
						<h1 class="page-title">
							<a title="Přejít na úvodní stranu" n:href="Homepage:default">
								<img src="{$basePath}/assets/images/logo.png" alt="iCON"></a> {block pageTitle}Administrace{/block}
						</h1>
					</header>
				
				</div> <!-- .col-12 -->
			</div> <!-- .row -->
		</div> <!-- .container -->	





		<!-- ========== Content ========== -->
		<div class="container container-main" role="main">
			<div class="row">
		
				<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>

				{block content}{/block}
			
			</div> <!-- .wrap_ins -->
		</div> <!-- .wrap -->	





		<!-- ========== Footer ========== -->
		<div class="container">
			<div class="row">	
				<div class="col-12">

					<footer class="footer" role="contentinfo">
						<div class="footer-copy">
							<div class="row">
								<div class="col-6">
									Copyright &copy; 2015, iLab.
								</div> <!-- .col-6 -->

								<div class="col-6 text-right">
									<a class="logo-query" title="Tvorba internetových stránek a on-line marketing QUERY" href="http://www.query.cz"><img src="{$basePath}/assets/images/transparent.gif" alt="Query"></a>
									<a class="logo-eternia" title="Grafické studio Eternia" href="http://www.eternia.cz"><img src="{$basePath}/assets/images/transparent.gif" alt="Query"></a>
								</div> <!-- .col-6 -->
							</div> <!-- .row -->
						</div> <!-- .footer-copy -->
					</footer> <!-- .footer -->

				</div> <!-- .col-12 -->
			</div> <!-- .row -->
		</div> <!-- .container -->





		<!-- ========== JS footer ========== -->
		<!--[if lt IE 9]><script type="text/javascript" src="{$basePath}/assets/js/css3-mediaqueries.js"></script><![endif]-->

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script>window.jQuery || document.write("<script src='/assets/js/jquery.min.js'>\x3C/script>")</script>

		<script type="text/javascript" src="{$basePath}/assets/js/main.min.js?26a69489"></script>
		{block script}{/block}

		<script type="text/javascript" n:syntax='off'>
			tinymce.init({
				selector: ".tinymce",
				entity_encoding : "raw",
				plugins: [
					"advlist autolink lists link image charmap print preview hr anchor pagebreak",
					"searchreplace wordcount visualblocks visualchars code fullscreen",
					"insertdatetime media nonbreaking save table contextmenu directionality",
					"emoticons template paste textcolor colorpicker textpattern"
				],
				toolbar1: "styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent",
				toolbar2: "link unlink anchor | removeformat | visualblocks nonbreaking | code",
				menubar: false,
				toolbar_items_size: 'small'
			});
		</script>





	</body>
</html>